@font-face{
	font-family: Fredoka;
	font-display: swap;
	src: url("../fonts/Fredoka-Light.woff2") format("woff2"), url("../fonts/Fredoka-Light.woff") format("woff"), url("../fonts/Fredoka-Light.ttf") format("truetype"), url("../fonts/Fredoka-Light.eot") format("eot"), url("../fonts/Fredoka-Light.otf") format("otf");
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: Saira;
	font-display: swap;
	src: url("../fonts/Saira-SemiBold.woff2") format("woff2"), url("../fonts/Saira-SemiBold.woff") format("woff"), url("../fonts/Saira-SemiBold.ttf") format("truetype"), url("../fonts/Saira-SemiBold.eot") format("eot"), url("../fonts/Saira-SemiBold.otf") format("otf");
	font-weight: 600;
	font-style: normal;
}
@font-face{
	font-family: Saira;
	font-display: swap;
	src: url("../fonts/Saira-Medium.woff2") format("woff2"), url("../fonts/Saira-Medium.woff") format("woff"), url("../fonts/Saira-Medium.ttf") format("truetype"), url("../fonts/Saira-Medium.eot") format("eot"), url("../fonts/Saira-Medium.otf") format("otf");
	font-weight: 500;
	font-style: normal;
}
