
.main-styles {
    display: flex;
    flex-direction: column;

    @media screen and (min-width : rem($tablet)) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}







@import "progress/_progress.scss";

@import "projects/_projects.scss"