
.main-styles {
    display: flex;
    flex-direction: column;

    @media screen and (min-width : rem($tablet)) {
        flex-direction: row;
    }
}







@import "competencies/_competencies.scss";

@import "projects/_projects.scss"