@import "../../common_headlines/_common_title.scss";

@import "competence_icon/competence_icon";

.ul-progress {
    padding: 0 ap(21, 70, 320, 744);    //
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: ap(33, 56, 320, 1440);
    margin-bottom: ap(40, 100, 320, 1440);
    
}


@media screen and (min-width : rem(745)) {
    .ul-progress {
        padding: 0 rem(40);
    }
}


                         ////////////////////////////// PICTURE ////////////////////////
.img-icon-progress {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}