@import "../../common_headlines/_common_title.scss";

@import "competence_icon/competence_icon";

.competencies-container-styles {

    @media screen and (min-width : rem($tablet)) {
        max-width: 50%;
        padding-right: rem(50);
    }
}


.competencies-list-styles {
    display: flex;
    flex-wrap: wrap;
    max-width: 65%;
    margin: 0 auto;
    gap: rem(10);
}





