

.common-title-styles {
    text-align: right;
    position: relative;
    font-family: 'Saira';
    font-weight: 500;
    font-size: rem(16);
    color: $labels-and-common-headlines;
    margin-bottom: rem(10);
        &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: rem(1);
        left: rem(0);
        border-radius: rem(0.5);
        background-color: $labels-and-common-headlines;
        }
}