@import "../../common_headlines/_common_title.scss";

@import "competence-icon/_competence_icon.scss";




.competencies-list-styles {
    display: flex;
    flex-wrap: wrap;
    max-width: 65%;
    margin: 0 auto;
    gap: rem(10);
}





