

.competence-style {
    // position: relative;
    width: rem(60);
    height: rem(60);
    background-color: $project_underline;
    border-radius: rem(15);
}

 ////////////////////////////// PICTURE ////////////////////////
 .img-icon-progress {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}