$body : #0F0D1B;
$label_and_projects_name : #9BD3F2;
$label_dark_articles_header : #273A51;
$icon_shadow_light : #656565;
$icon_shadow_dark : #3A3A3A;
$staus_done :  rgba(42, 154, 60, 1);
$status_process : rgba(155, 211, 242, 0.6);
$project_underline : #5099AF;



