$body : #0F0D1B;
$label_and_projects_name : #9BD3F2;
$label_dark_articles_header : #273A51;
$icon_shadow_light : #656565;
$icon_shadow_dark : #3A3A3A;
$staus_done :  rgba(70, 156, 29, 0.6);
$status_process : rgba(155, 211, 242, 0.6);
$project_underline : #5099AF;

$pin_ball : #2049B5;
$pin_body_shadow : #4F5FEB;
$pin_needle_body : #777777;
$pin_needle_glare : #999999;
$pin_shadow : black;


