@import "../../common-headlines/_common-title.scss";

@import "competence-icons/_competence-icon.scss";




.competencies-list-styles {
    display: flex;
    flex-wrap: wrap;
    max-width: 65%;
    margin: 0 auto;
    gap: rem(10);
}



// тестирование вставок
.test-ul-styles {
    width: 100%;
    height: 100px;
    background-color: gray;
}

.test-li-styles {
    width: 50%;
    height: 50%;
    background-color: red;
}

