

.competence-style {
    // width: rem(60);
    // height: rem(60);
    width: rem(50);
    height: rem(50);
}


 ////////////////////////////// PICTURE ////////////////////////
 .competence-img-style {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}